{% extends "layouts/wrapper.html" %}
{% load static %}
{% block content %}
<div id="content-div" style="display: none">
    {% if redirect_from_success is True %}
        <h2 class="submit-success-header">--request successfully submitted--</h2>
    {% endif %}
    {% if form.req_id is not None %}
        <h2>editing image request {{ form.req_id }}</h2>
        {% if form.product_ids|length > 0 %}
            {# fully populated in js #}
            <div id="review-status-div" class="review-status-div">
                <p id="verification-status-p">verification: </p>  {# populated in js #}
            </div>
            <div id="pid-header-div" class="colorized-status-header"><p style="font-size: 16pt">associated products:</p></div>
        {% endif %}
    {% else %}
        <h2>new image request</h2>
    {% endif %}
    {% if form.product_ids|length > 0 %}
        <div id='multiple-eval-container' class="multiple-form-container" style="display: flex">
        {# empty form that provides hooks for input elements in eval-table rows #}
        {% for hyp in form.ldst_hypotheses %}
            <form id="{{ hyp }}-eval-form"
                  class="eval-form"
                  method="POST"
                  enctype="multipart/form-data"
                  action="/submitevaluation?req_id={{ form.req_id }}&hyp={{ hyp }}"
                  onsubmit="insertEvalFormState('{{ hyp }}-eval-form')"
            >
            </form>
        {% endfor %}
        </div>
        <button id="evaluation-toggle" onClick="toggleEvalTable()"></button>
        <table id="eval-table" class="eval-table"
           {% if redirect_from_evaluation is not True %}
           style="display: none"
           {% endif %}>
            <thead>
            <tr><th>hypothesis</th><th>supports?</th><th>notes</th><th>evaluator</th><th>submit</th></tr>
            </thead>
            <tbody id="eval-table-body">
            {# populated in js #}
            {% for hyp in form.ldst_hypotheses %}
                <tr id="{{ hyp }}-eval-row" class="eval-input-row"></tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <form method="POST" action="/submitrequest?req_id={{ form.req_id }}" enctype="multipart/form-data">
        <div id="form-panel" class="split-flow-container request-container">
        <div class="vertical-form-inner">
            <div id="selective-status-hider"
             {# for new requests, status is always "WORKING" #}
             {% if form.req_id is None %}style="display: none"{% endif %}>
                <label for={{ form.status.id }}>{{ form.status.label}}</label>
                {{ form.status }}
            </div>
        {% for field in form %}
        {% if field.name == 'justification' or field.name == 'title' %}
            <div id="{{ field.name }}-field-div" class="{{ field.widget_type }}-field vertical-form-field">
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            <label for="{{ field.id }}">{{ field.label }}</label>
            {{ field }}
            </div>
        {% endif %}
        {% endfor %}
        {% for field in form %}
        {% if field.name == 'status' or field.name == 'justification' or field.name == 'title' %}
        {% else %}
        <div id="{{ field.name }}-field-div"
             class="{{ field.widget_type }}-field vertical-form-field">
            <label
                {% if field.name in form.slice_fields %}class="pano-only slice-field"
                {% elif field.name in form.pano_only_fields %}class="pano-only"
                {% endif %}
                for="{{ field.id }}">{{ field.label }}
                {% if field.name == 'supplementary_file' and filename is not None %}
                    (existing file:
                    <a href="{{ file_url }}">{{ filename }})</a>)
                {% endif %}
            </label>
            {{field}}
        </div>
        {% endif %}
        {% endfor %}
        <div>
            {% if form.req_id is not None %}
            <button type="submit" name="submitrequest">edit request</button>
            {% else %}
            <button type="submit" name="submitrequest">submit request</button>
            {% endif %}
        </div>
        </div>
        {# populated by js #}
        <div id="ldst-field-div" class="vertical-form-field two-column-checkbox">
            <label style="margin-bottom: 1rem; margin-top: 0.5rem">ldst hypotheses</label>
        </div>
        </div>
    </form>
</div>
<div id="hidden-info" style="display: none">
    <p id="verification_json">{{ verification_json }}</p>
    <p id="req_info_json">{{ req_info_json }}</p>
    <p id="eval_ui_status">{{ eval_ui_status }}</p>
    <p id="eval_json" style="display:none">{{ eval_json }}</p>
    <p id="request_error_json" style="display:none">{{ request_error_json }}</p>
    <p id="live_form_state" style="display: none">{{ live_form_state }}</p>
</div>

{% endblock %}
{% block localscripts %}
<script>
    const reqID = "{{ form.req_id }}"
</script>
<script src="{% static 'js/local/imagerequest.js' %}"></script>
<script>
    const revealContent = function(_event) {
        gid("content-div").style.display = "block"
    }
    document.addEventListener("DOMContentLoaded", revealContent)
</script>
{% endblock %}
