{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<div>
    <div id="instrument-picker" class="horizontal-anchor-container">
        {% for instrument in records.keys %}
            <a id="table-{{ instrument }}-anchor"
               onclick="revealTable('{{ instrument }}')">{{ instrument }}
            </a>
        {% endfor %}
    </div>
    {% for instrument, images in records.items %}
        <p id="table-{{ instrument }}-sorry" style="font-size: 18pt">
            No images from these instruments exist in the VIS database.
        </p>
        <table id="table-{{ instrument }}" class="image-table toggle-table">
            <thead></thead>
            {% for image in images %}
            <tr>
                <td>
                    <img
                        src="{{ image.thumbnail_url }}"
                        alt="thumbnail for {{ image.product_id }}"
                    >
                </td>
                <td>
                    <a href="/{{ image.product_id }}">{{ image.product_id }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
<script src="{% static 'js/table-toggle.js' %}"></script>
<script>
    const defaultTable = "all"
    document.addEventListener("DOMContentLoaded", revealDefault)
    document.addEventListener("DOMContentLoaded", addCounts)
</script>
</body>
</html>