{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<form method="POST" action="/submitrequest"
  enctype="multipart/form-data" style="max-width: 50vw"
>
    {% if form.capture_id is not None%}
        <h3>editing intent information for capture id(s) {{ form.capture_id }}</h3>
        {% if form.product_ids|length > 0 %}
            <h4>associated product ids:</h4>
            {% for product_id in form.product_ids %}{{ product_id }}
            {% endfor %}
        {% endif %}
        <label for="hidden-capture-id-input">
            <input type="text" style="display: none;" id="hidden-capture-id-input" name="capture_id" value={{ form.capture_id }}>
        </label>
    {% elif form.request_id is not None %}
        <h2>editing image request</h2>
        <p class="placeholder-text">placeholder: a way to delete me</p>
        <label for="hidden-request-id-input">
            <input type="number" style="display: none;" id="hidden-request-id-input" name="request_id" value={{ form.request_id }}>
        </label>
    {% else %}
        <h2>new image request</h2>
    {% endif %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <div style="margin-top: 1rem; display: flex; flex-direction: column;">
        {% for field in form %}
            <label
                {% if field.name in form.slice_fields %}class="pano-only slice-field"
                {% elif field.name in form.pano_only_fields %}class="pano-only"
                {% endif %}
                for="{{ field.id }}">{{ field.label }}
                {% if field.name == 'supplementary_file' and filename is not None %}
                    (existing file:
                    <a href="{{ file_url }}">{{ filename }})</a>)
                {% endif %}
            </label>
            {{field}}
        {% endfor %}
    </div>
    <div style="margin-top: 1rem;">
        <button type="submit" name="submitrequest" formaction="/submitrequest">submit</button>
    </div>
</form>
<script>
    const cameraRequest = document.getElementById('camera-request');
    const needs360 = document.getElementById('need-360');
    const panoOnlyInputs = document.getElementsByClassName('pano-only');
    const sliceInputs = document.getElementsByClassName('slice-field');
    const togglePanoVisibility = function() {
        const display = (cameraRequest.value === 'navcam_panoramic_sequence') ? 'block' : 'none';
        Array.from(panoOnlyInputs).forEach((input) => {input.style.display = display})
    };
    const toggleSliceVisibility = function() {
        const pano = cameraRequest.value === 'navcam_panoramic_sequence'
        const slice = needs360.checked === false
        const display = pano && slice ? 'block' : 'none'
        Array.from(sliceInputs).forEach((input) => {input.style.display = display})
    };
    cameraRequest.addEventListener('change', togglePanoVisibility);
    needs360.addEventListener('change', toggleSliceVisibility);
    document.addEventListener("DOMContentLoaded", togglePanoVisibility)
    document.addEventListener("DOMContentLoaded", toggleSliceVisibility)
</script>
</body>
</html>
