{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}

<div id="layout-container" class="split-flow-container">
    <div
        id="product-container"
        style="display:flex;
        flex-direction:row;
        margin-left:1vw;
        margin-top:1vh;
        flex-shrink:1;
        max-width: 75%;
        "
    >
        <div
            id="metadata-panel"
            class="flex-panel shrinking-text"
            style="overflow:scroll"
        >
            <h3 class="metadata-header">{{ pid }}</h3>
            {% for field, value in metadata.items %}
                <p class="metadata-row">{{ field }}: {{ value }}</p>
            {% endfor %}
        </div>
        <div id="image-panel" class="flex-panel">
            <img
                src="{{ browse_url }}"
                alt="browse image for {{ pid }}"
                style="max-width: 100%; height:auto;"
            >
        </div>
    </div>
    {# TODO, maybe: messy, populate styles and maybe text with js #}
    <div id="status-panel" class="flex-panel" style="flex-shrink: 0;font-size: 24px">
        <div id="link-container">
            <div class="horizontal-plain-links">
                <p>links:</p>
                <a href="{{ image_url }}">image</a>
                <a href="{{ browse_url }}">label</a>
                {% if request_url != None %}
                <a href="{{ request_url }}">request</a>
                {% endif %}
            </div>
        </div>
        <div id="review-status" class="review-container">
        <h4>review status</h4>
            <p id="vis-verification-p">
                <a id="vis-verification-a" style="margin-left:0.25rem"
                   onclick="toggleVisibility('verification-container', True)"></a>
            </p>
            <p id="vis-evaluation-p">
                <a id="vis-evaluation-a" style="margin-left: 0.25rem; margin-right:0"></a>
                {% if evaluation == "no request" %}
                    <a onclick="toggleVisibility('assign-request-form')"
                       style="color: palegoldenrod; margin-left: 0; margin-right: 0">
                        [assign]</a>
                {% endif %}
            </p>
        <form id="assign-request-form" style="display: none">
            reassign request
        </form>
        </div>
     </div>
    </div>
</div>
<script>
    const verificationStyle = {
        'None': {
            'p-color': 'orange',
            'p-text': '- not VIS verified',
            'a-color': 'palegoldenrod',
            'a-text': '[verify]'
        },
        'True': {
            'p-color': 'lightgreen',
            'p-text': '- passed VIS',
            'a-color': 'palegreen',
            'a-text': '[edit]'
        },
        'False': {
            'p-color': 'salmon',
            'p-text': '- failed VIS',
            'a-color': 'lightpink',
            'a-text': '[edit]'
        }
    }["{{ metadata.verified }}"]
    const evaluationStyle = {
        'no request': {
            'p-color': 'orange',
            'p-text': '- no linked request',
            'a-color': 'palegoldenrod',
            'a-text': '[create]',
            'a-href': '/imagerequest?capture_id={{ metadata.capture_id }}'
        },
        'not': {
            'p-color': 'orange',
            'p-text': '- not evaluated',
            'a-color': 'palegoldenrod',
            'a-text': '[evaluate]',
            'a-href': '{{ request_url }}'
        },
        'incomplete': {
            'p-color': 'orange',
            'p-text': '- evaluation incomplete',
            'a-color': 'lightpink',
            'a-text': '[continue]',
            'a-href': '{{ request_url }}'
        },
        'partial': {
            'p-color': 'beige',
            'p-text': '- partially passed evaluation',
            'a-color': 'aliceblue',
            'a-text': '[view/edit]',
            'a-href': '{{ request_url }}'
        },
        'passed': {
            'p-color': 'lightgreen',
            'p-text': '- passed evaluation',
            'a-color': 'palegreen',
            'a-text': '[view/edit]',
            'a-href': '{{ request_url }}'
        },
        'failed': {
            'p-color': 'salmon',
            'p-text': '- failed evaluation',
            'a-color': 'lightpink',
            'a-text': '[view/edit]',
            'a-href': '{{ request_url }}'
        }
    }["{{ evaluation }}"]
    const verP = document.getElementById('vis-verification-p')
    const verA = document.getElementById('vis-verification-a')
    const evalP = document.getElementById('vis-evaluation-p')
    const evalA = document.getElementById('vis-evaluation-a')
    const styleVerificationStatus = function(_event=null) {
        verP.style.color = verificationStyle['p-color']
        verA.style.color = verificationStyle['a-color']
        verA.textContent = verificationStyle['a-text']
        verP.innerHTML = `${verificationStyle['p-text']} ${verP.innerHTML}`
    }
    const styleEvaluationStatus = function(_event=null) {
        evalP.style.color = evaluationStyle['p-color']
        evalA.style.color = evaluationStyle['a-color']
        evalA.textContent = evaluationStyle['a-text']
        evalA.href = evaluationStyle['a-href']
        evalP.innerHTML = `${evaluationStyle['p-text']} ${evalP.innerHTML}`
    }
    document.addEventListener("DOMContentLoaded", styleVerificationStatus)
    document.addEventListener("DOMContentLoaded", styleEvaluationStatus)
</script>
</body>
</html>