{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<div>
    <table id="image-table" style="padding-left:10vw">
    {% for record in records %}
        <tr>
            <td>
                <img src="{{ record.thumbnail_url }}"
                     alt="thumbnail for {{ record.product_id }}"
                     style="height:5rem;width:5rem;padding-right:1rem">
            </td>
            <td style="font-size:24px">
                <a href="/{{ record.product_id }}">{{ record.product_id }}<a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>