{% extends "layouts/wrapper.html" %}
{% load static %}
{% block content %}
<a id="summary" style="display: none"></a>
<a id="requests" style="display: none"></a>
<a id="hyp" style="display: none"></a>
<div id="content" style="display: none">
    <div id="table-picker" class="horizontal-anchor-container" style="height:2rem; margin-top: 3rem;">
        <a id="table-summary-anchor"
           href="#summary"
           onclick="revealTable('summary')">LDST summary</a>
        <div class="spacer-line"></div>
        <a id="table-requests-anchor"
          href="#requests"
           onclick="revealTable('requests')">LDST by request</a>
        <div class="spacer-line"></div>
        <a id="table-hyp-anchor"
          href="#hyp"
           onclick="revealTable('hyp')">request by LDST</a>
    </div>
    <div id="table-container" style="height:70vh">
        <p id="table-summary-sorry"  class="sorry-p">
            No LDST hypotheses have been defined.</p>
        <table id="table-summary"
               class="toggle-table paginated-table request-table summary-table">
            <thead>
                <tr>
                    <th>LDST</th>
                    <th>relevant</th>
                    <th>critical</th>
                    <th>acquired</th>
                    <th>pending vis</th>
                    <th>pending eval</th>
                    <th>passed</th>
                    <th>failed</th>
                </tr>
            </thead>
            {# populated in js #}
            <tbody id="table-body-summary" style="max-height: 70vh; overflow: scroll"></tbody>
        </table>
        <table id="table-requests"
               class="toggle-table paginated-table request-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>status</th>
                    <th>verification</th>
                    <th>eval status</th>
                    <th>pending</th>
                    <th>passed</th>
                    <th>failed</th>
                </tr>
            </thead>
            {# populated in js #}
            <tbody id="table-body-requests"></tbody>
        </table>
                <table id="table-hyp"
               class="toggle-table paginated-table request-table">
            <thead>
                <tr>
                    <th>LDST</th>
                    <th>request ID</th>
                    <th>title</th>
                    <th>status</th>
                </tr>
            </thead>
            {# populated in js #}
            <tbody id="table-body-hyp"></tbody>
        </table>

    </div>
</div>
<div id="hidden-info-div" style="display: none">
    <p id='eval_by_req'>{{ eval_by_req }}</p>
    <p id='eval_by_hyp'>{{ eval_by_hyp }}</p>
    <p id='req_info'>{{ req_info }}</p>
    <p id='ldst_summary_info'>{{ ldst_summary_info }}</p>
</div>
{% endblock %}
{% block localscripts %}
<script src="{% static 'js/local/ldststatus.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", buildSummaryTable)
    document.addEventListener("DOMContentLoaded", buildRequestTable)
    document.addEventListener("DOMContentLoaded", buildHypTable)
    document.addEventListener("DOMContentLoaded", revealDefault)
    document.addEventListener("DOMContentLoaded", unHideContent)
</script>
{% endblock %}