{% extends "layouts/wrapper.html" %}
{% load static %}
{% block content %}
<div id="content">
<h2>pages</h2>
<ul style="font-size: 20pt">
    <li><a href="/images">image list</a></li>
    <li><a href="/requestlist">image request list</a></li>
    <li><a href="/imagerequest">new image request</a></li>
    <li><a href="/pllist">protected list</a></li>
    <li><a href="/plrequest">new protected list request</a></li>
    <li><a href="/review">review status</a></li>
    <li><a href="/ldst">LDST status</a></li>
</ul>
</div>
{% endblock %}