{% extends "layouts/wrapper.html" %}
{% load static %}
{% block content %}
<div id="content" style="display: none">
    {% if redirect_from_success is True %}
    <h2 class="submit-success-header">----PL request successfully submitted----</h2>
    {% endif %}
    <div id="main-ccu-split" class="pl-table-container">
        <div id="table-ccu-0-div">
            <h4>CCU 0</h4>
            <h5 style="margin-top:0">write position: {{ write_head.zero }}</h5>
            <p id="table-ccu-0-sorry">No active Protected List entries for CCU 0.</p>
            <table id="table-ccu-0" class="request-table nullable-table">
            <thead><tr>
                <th>image ID</th><th>ref. VIS ID</th><th>time</th><th>edit</th>
            </tr></thead>
            <tbody id="table-ccu-0-body"></tbody>
            </table>
        </div>
        <div id="table-ccu-1-div">
            <h4>CCU 1</h4>
            <h5 style="margin-top:0">write position: {{ write_head.one }}</h5>
            <p id="table-ccu-1-sorry">No active Protected List entries for CCU 1.</p>
            <table id="table-ccu-1" class="request-table nullable-table">
            <thead><tr>
                <th>image ID</th><th>ref. VIS ID</th><th>time</th><th>edit</th>
            </tr></thead>
            <tbody id="table-ccu-1-body"></tbody>
            </table>
        </div>
    </div>
    <div id="pl-log-table-div">
    <h4>Protected List Log</h4>
    <p id="table-pl-log-sorry">Protected List is empty.</p>
    <table id="table-pl-log" class="request-table nullable-table">
        <thead><tr>
            <th>image ID</th>
            <th>ref. VIS ID</th>
            <th>time</th>
            <th>status</th>
            <th>rationale</th>
            <th>edit</th>
        </tr></thead>
        <tbody id="table-pl-log-body"></tbody>
    </table>
    </div>
</div>
<div id="hidden-data-div" style="display: none">
    <p id="pl_json">{{ pl_json }}</p>
</div>
{% endblock %}
{% block localscripts %}
<script src="{% static 'js/local/pllist.js' %}"></script>
<script>
    const revealContent = function(_event) {
        gid("content").style.display = "block"
    }
    document.addEventListener("DOMContentLoaded", buildTables)
    document.addEventListener("DOMContentLoaded", nullifyEmptyTables)
    {#document.addEventListener("DOMContentLoaded", buildPaginators)#}
    document.addEventListener("DOMContentLoaded", revealContent)
</script>
{% endblock %}
