{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<div id="form-content">
    {% if form.capture_id == ""%}
        <h3>viewing intent information for capture id(s) {{ form.capture_id }}  <a href="/imagerequest?request_id={{ form.id }}">edit</a></h3>
        {% if form.product_ids|length > 0 %}
            <h4>associated product ids:</h4>
            {% for product_id in form.product_ids %}{{ product_id }}{% endfor %}
        {% endif %}
        <label for="hidden-capture-id-input">
            <input type="text" style="display: none;" id="hidden-capture-id-input" name="capture_id" value={{ form.capture_id }}>
        </label>
    {% else %}
        <h3>viewing image request  <a href="/imagerequest?request_id={{ form.id }}">edit</a></h3>
        <label for="hidden-id-input">
            <input type="number" style="display: none;" id="hidden-id-input" name="id" value={{ form.id }}>
        </label>
    {% endif %}
    {% for field in form %}
        {% if field.name in form.slice_fields and not showslice %}
        {% elif field.name in form.pano_only_fields and not showpano %}
        {% elif field.name == 'supplementary_file' and filename is not None %}
            {# TODO: messy styling #}
            <h4 style="margin-bottom: 1px">supplementary file</h4>
            <a href="{{ file_url }}">{{ filename }}</a>
        {% else %}
            <h4 style="margin-bottom: 1px">{{ field.label }}</h4>
            <p style="margin: 0">{{ field.value }}</p>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>