{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<div id="form-content">
    {% if form.product_ids|length > 0 %}
        <h3>viewing intent information for request ID {{ form.req_id }}
            <a href="/imagerequest?req_id={{ form.req_id }}" style="margin-left: 1rem;">
                [edit]</a></h3>
            <h4>associated product ids:</h4>
            {% for product_id in form.product_ids %}
                <a href="{{ product_id }}" style="font-size:14pt; margin-right:0.2rem">{{ product_id }}</a>
            {% endfor %}
    {% else %}
        <h3>viewing image request {{ form.req_id }}
            <a href="/imagerequest?req_id={{ form.req_id }}">[edit]</a>
        </h3>
        <label for="hidden-id-input">
            <input type="number" style="display: none;" id="hidden-id-input" name="req_id" value={{ form.req_id }}>
        </label>
    {% endif %}
    <p class="metadata-view-title">{{ form.status.label }}</p>
    <p class="metadata-view-value">{{ form.status.value }}</p>
    {% for field in form %}
        {% if field.name in form.slice_fields and not showslice %}
        {% elif field.name in form.pano_only_fields and not showpano %}
        {% elif field.name == 'supplementary_file' and filename != None %}
            {# TODO: messy styling #}
            <p class="metadata-view-title">Supplementary File</p>
            <a href="{{ file_url }}">{{ filename }}</a>
        {% elif field.name == 'supplementary_file' %}
        {% elif field.name == 'status' %}
        {% else %}
            <p class="metadata-view-title">{{ field.label }}</p>
            <p class="metadata-view-value">{{ field.value }}</p>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>