{% load static %}
{% include "layouts/head.html" %}
<body>
{% include "layouts/nav.html" %}
<div>
    <div style="display:flex; margin-top: 2rem; margin-bottom: 1rem;">
        <div>
            <div id="status-picker" class="horizontal-anchor-container">
                {% for s in statuses %}
                    <a
                        id = "table-{{s}}-anchor"
                        onclick="revealTable('{{ s }}')">{{ s }}
                    </a>
                {% endfor %}
            </div>
        {% for s in statuses %}
            <p id="table-{{ s }}-sorry" style="font-size: 18pt">
                No requests currently exist with this status.
            </p>
            <table class='request-table toggle-table' id="table-{{ s }}">
                {% include "layouts/request_table_header.html" %}
                {% for record in records %}
                    {% if record.status == s %}
                        {% include "layouts/request_table_row.html" %}
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/visibility.js' %}"></script>
<script>
    const defaultTable = "WORKING"
    document.addEventListener("DOMContentLoaded", revealDefault)
    document.addEventListener("DOMContentLoaded", addCounts)
</script>
</script>
</body>
</html>