{% extends "layouts/wrapper.html" %}
{% load static %}
{% block content %}
<a id="evaluation" style="display: none"></a>
<a id="verification" style="display: none"></a>
<div id="content" style="display: none">
    <div id="review-picker" class="horizontal-anchor-container" style="height:4rem;">
        <a id="table-verification-anchor"
           href="#verification"
           onclick="revealTable('verification')">VIS verification</a>
        <div class="spacer-line"></div>
        <a id="table-evaluation-anchor"
          href="#evaluation"
           onclick="revealTable('evaluation')">science evaluation</a>
        <div id="table-verification-controls" style="display: flex; flex-direction: column; margin-left: 12vw">
            <p style="text-align: center; margin-top: 0; margin-bottom:0; font-size: 16pt; color: lightskyblue">filters</p>
        <div class="table-controls">
            <div class="vertical-control-container">
            <p id="filter-critical-status">critical</p>
            <button id="filter-critical-button" onclick="toggleCritical()"></button>
            </div>
            <div class="vertical-control-container">
            <p id="filter-verified-status">verified</p>
            <button id="filter-verified-button" onclick="toggleVerified()"></button>
            </div>
        </div>
        </div>
        <div id="table-evaluation-controls" class="table-controls" style="margin-left: 12vw">
            <div class="vertical-control-container">
            <p id="eval-filter-status"></p>
            <button id="eval-filter-button" onclick="switchEvalFilter()"></button>
            </div>
        </div>
    </div>
    <div id="table-container" style="height:70vh">
        <p id="table-verification-sorry"  class="sorry-p">
            No products currently exist.</p>
        <p id="table-evaluation-sorry" class="sorry-p">
            No requests with assigned critical hypotheses currently have
            associated products.</p>
        <table id="table-verification" class="toggle-table paginated-table request-table">
            <thead>
                <tr>
                    <th>VIS PID</th>
                    <th>verified</th>
                    <th>critical</th>
                    <th>request ID</th>
                    <th>gentime</th>
                </tr>
            </thead>
            {# populated in js #}
            <tbody id="table-body-verification"></tbody>
        </table>
        <table id="table-evaluation" class="toggle-table paginated-table request-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>status</th>
                    <th>verification</th>
                    <th>evaluation</th>
                </tr>
            </thead>
            {# populated in js #}
            <tbody id="table-body-evaluation"></tbody>
        </table>
    </div>
</div>
<div id="hidden-data-div" style="display: none">
    <p id="eval_by_req">{{ eval_by_req }}</p>
    <p id="eval_by_hyp">{{ eval_by_hyp }}</p>
    <p id="req_info">{{ req_info }}</p>
    <p id="verifications">{{ verifications }}</p>
</div>
{% endblock %}
{% block localscripts %}
<script>
    // a little sloppy but :shrug:
    const linkHash = new URL(document.baseURI).hash
    let defaultTable
    if (linkHash.includes('evaluation')) {
        defaultTable = 'evaluation'
    }
    else {
        defaultTable = 'verification'
    }
    // shared status for display filters
    let filteringCritical = false
    let filteringVerified = false
    let evalFilterSetting = 2

</script>
<script src="{% static 'js/local/review.js' %}"></script>
{% endblock %}