:root {
    --light-tint-0: rgba(255, 250, 255, 0.1);
    --light-tint-1: rgba(255, 250, 255, 0.18);
    --dark-tint-0: rgba(5, 0, 5, 0.1);;
    --night-black: #111111;
    --astronomical-twilight: #161819;
    --static-gray: #3B3B3E;
    --slate: #466B6C;
    --silver: #dee1e3;
    --royal-violet: #6d3dba;
    --blue-hour: #223bbb;
    --celeste: #5fc5c6;
    --phosphor-green: #00CC11;
    --ambiguous-flare: #D79A00;
    --old-led: #BB2222;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: "Fira Mono";
    font-style: normal;
    src: url(/assets/fonts/FiraMono-Regular.ttf) format("truetype");
    font-weight: 400;
}

body {
    font-size: 13pt;
    background: var(--night-black);
    font-family: 'Titillium Web', sans-serif;
    color: var(--silver);
    line-height: 1.2;
    padding: 1rem;
    margin: auto;
    font-weight: 400
}

input, select, textarea {
    background: var(--silver);
}

select, textarea {
    font-size: 15px;
    font-family: "Fira Mono", monospace;
}
select option:checked {
    box-shadow: 0 0 1rem 1rem var(--royal-violet) inset;
    color: var(--silver);
}
h1, h2, h3, h4, .metadata-title {
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, p {
    margin-bottom: 1rem;
    padding: 0;
}

h1 {
    font-size: 42pt;
    font-weight: 500;
}

h2 {
    font-size: 32pt;
    margin: 0.25rem 0 0.25rem;
    font-weight: 500;
}

h3 {
    font-size: 24pt;
    font-weight: 400;
}

h4 {
    font-size: 19pt;
    font-weight: 400
}

nav {
    font-size: 21pt;
}

a {
    color: var(--celeste);
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--royal-violet);
}
aside {
    display: block;
    float: right;
    width: 390px;
}

.horizontal-plain-links {
    display: flex;
    flex-direction: row;
}
.horizontal-plain-links p, a {
    font-size:inherit;
    margin: 0 1rem 0 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
.metadata-header {
    margin-top:0;
}
.vertical-form-container, .vertical-form-field, .pl-table-container,
.review-container {
    display: flex;
    flex-direction: column;
}
.vertical-form-container {
    margin-top: 1rem;
}
.vertical-form-container .checkbox-field, .number-field {
    width: fit-content;
    flex-direction: row;
}
.vertical-form-container .checkbox-field, .number-field label {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    padding: 0;
}
.vertical-form-container .number-field input {
    max-width: 2.8rem;
    max-height: 0.9rem;
    margin-top: 0.4rem
    /*vertical-align: center;*/
}
.verification-form-container {
    flex-direction: column;
    max-width: 25vw;
    border-top: 1px solid var(--slate);
    padding-top: 1rem;
}
.verification-form-container .vertical-form-field textarea,
.verification-form-container .vertical-form-field select{
    margin-bottom: 1rem;
}
.verification-form-container .vertical-form-field label {
    font-size:20px;
    margin-bottom:0.3rem;
}
.verification-form-container .good-bad-field {
    display: flex;
    text-align: left;
    max-width: fit-content;
}

.verification-form-container .good-bad-field label {
    font-size: 30px;
    margin-right:0.25rem;
}
.verification-form-container .good-bad-field #id_good {
    height: 1.7rem;
    width: 1.7rem;
    accent-color: var(--phosphor-green)
}
.verification-form-container .good-bad-field #id_bad {
    height: 1.7rem;
    width: 1.7rem;
    accent-color: var(--old-led)
}
.verification-form-container .checkbox-field input:checked {
    box-shadow: 0 0 1rem 1rem var(--royal-violet) inset;
    color: white;
}
.pl-table-item {
    padding-right: 1rem;
    max-width: 20rem;
}
.review-container {
    margin-bottom: 2rem;
}
.review-container p {
    font-size: inherit;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}
.metadata-row {
    margin:0.1rem;
}
.placeholder-text {
    color: var(--old-led);
    font-size: 11pt;
    margin: 0;
}
.split-flow-container {
    display: flex;
    flex-direction: row;
}
.feed-panel {
    background-color: var(--astronomical-twilight);
    padding: 0.5rem;
}
.flex-panel {
    flex-shrink: 1;
    flex-grow: 0.7;
    max-height: 50%;
    max-width: 50%;
    margin: 1.5rem;
}
.flex-panel img {
    max-width: 100%;
    height:auto
}
.shrinking-text {
    max-height: 50rem;
    overflow: scroll;
}
.request-table {
    border-top: 1px solid var(--silver);
    padding-top: 1rem;
}
.request-table th, td {
    padding-right: 1rem;
    padding-left: 1rem;
}
.request-table th {
    font-size:20pt;
}
.request-table td {
    font-size: 18pt;
    text-align: center;
}
.toggle-table {
    display: none;
}
.image-table img {
    height:5rem;
    width:5rem;
    padding-right:1rem;
}
.image-table td {
    font-size: 18pt;
}
.split-flow-panel-main {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    max-width: 100%
}
@media (max-width: 90rem) {
    .split-flow-container, .pl-table-container {
        flex-direction: column;
    }
    .shrinking-text {
        max-height: 50vh;
    }
    .split-flex-panel-main {
        max-width:75%
    }
    .verification-form-container {
        max-width: 80vw;
        flex-direction: row;
        flex-shrink: 0;
        flex-grow: 1;
    }
    .verification-form-container .vertical-form-field,
    .verification-form-container .good-bad-field {
        margin-right: 2rem;
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 45%
    }
    .verification-form-container .good-bad-field {
        flex-direction: column;
    }
    .verification-form-container .vertical-form-field textarea {
        max-height:5rem;
    }
    .flex-panel img {
        max-height: 50vh;
        width: auto;
    }
}
.metadata-view-title {
    font-size: 19pt;
    font-weight: 400;
    margin-bottom: 1px;
}
.metadata-view-value {
    font-size: 13pt;
    margin: 0;
}
.horizontal-anchor-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 2px solid var(--silver)
}
.horizontal-anchor-container a {
    font-size: 24px;
    color: var(--silver);
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 2px solid var(--silver)
}
.record-assign label {
    margin-right: 0.25rem;
}
.record-assign input {
    max-width: 2.7rem;
    color: var(--silver);
    background-color: var(--night-black);
    font-size: 16pt;
    font-weight:400;
    border: 1px solid white;
    padding-top:0.1rem;
}
